.ion-avatar {
  width: 30px;
  height: 30px;
  margin: 5px;
}

.chat-container {
  border: red solid 2px;
  display: flex;
}

.userId-message {
  border-radius: 25px;
  width: 250px;
  background-color: #f4f4f4;
}

.other-message {
  border-radius: 25px;
  width: 250px;
  background-color: var(--ion-color-secondary);
}

.timer-box {
  height: 100%;
  padding: 6px;
  align-items: center;
  background-color: var(--ion-color-secondary);
  box-shadow: 0 5px 8px 0 var(--ion-color-primary);
  border-radius: 50px;
  font-size: 12px;
}
