.send-message {
	display: flex;
	gap: 10px;
	padding: 30px;
}

.add-group-avatar {
	/* border: red 1px solid; */
}

.new-message-input {
	border: unset;
	width: 100%;
	background-color: var(--ion-color-light);
	border-radius: 10px;
	padding: 10px;
	outline: none;
	margin-block: 0.5rem;
	margin-left: 0.5rem;
	color: var(--ion-color-reserve);
}

.new-message-snd-btns {
	margin-block: 0.5rem;
	margin-right: 0.3rem;
	color: white;
}

.chat-bar ion-title {
	/* width: fit-content; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.chat-bar svg {
	display: none;
}

.chat-user-avatar {
	border-radius: 0;
	display: flex;
}

.chat-user-avatar img {
	max-width: 80%;
	max-height: 80%;
	margin: auto;
	background-color: white;
}

.video-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.local-video {
	position: absolute;
	bottom: 10px;
	right: 10px;
	width: 120px;
	height: 150px;
	border-radius: 10px;
}

.remote-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.audio-call-modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: #111;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: white;
	z-index: 9999;
}

.incoming-call-container {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
}

.incoming-call-container .popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	z-index: 9999;
	text-align: center;
}

.incoming-call-container .popup h2 {
	color: black;
	margin: 0;
	margin-block: 0.5rem;
	font-size: 20px;
}

.incoming-call-avatar {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	object-fit: cover;
}

.audio-call-avatar {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	object-fit: cover;
}

.video-call-ui,
.audio-call-ui {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.local-video {
	width: 140px;
	height: 200px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: #222;
}

.remote-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.call-controls {
	position: absolute;
	bottom: 40px;
	display: flex;
	gap: 20px;
}
