.send-message {
	display: flex;
	gap: 10px;
	padding: 30px;
}

.add-group-avatar {
	/* border: red 1px solid; */
}

.new-message-input {
	border: unset;
	width: 100%;
	background-color: var(--ion-color-light);
	border-radius: 10px;
	padding: 10px;
	outline: none;
	margin-block: 0.5rem;
	margin-left: 0.5rem;
	color: var(--ion-color-reserve);
}

.new-message-snd-btns {
	margin-block: 0.5rem;
	margin-right: 0.3rem;
	color: white;
}

.chat-bar ion-title {
	/* width: fit-content; */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.chat-bar svg {
	display: none;
}

.chat-user-avatar {
	border-radius: 0;
	display: flex;
}

.chat-user-avatar img {
	max-width: 80%;
	max-height: 80%;
	margin: auto;
	background-color: white;
}
